// colors
$primary5C: #5952D1;
$primary4C: #6C63FF;
$primary3C: #9E99FF;
$primary2C: #C5C2FF;
$primary1C: #ECEBFF;

$secondary5C: #FC4A6E;
$secondary4C: #FD6584;
$secondary3C: #FD9BAE;
$secondary2C: #FED7DF;
$secondary1C: #FEEBEF;

$neutral5C: #2F2E41;
$neutral4C: #717082;
$neutral3C: #9893A3;
$neutral2C: #CFCFDE;
$neutral1C: #FFFFFF;

// width
$smallWidth: 428px;
$mediumWidth: 768px;
$largeWidth: 1200px;
$fullHdWidth: 1920px;